@import 'App.scss';

.domestic {
    height: 100%;

    &__content {
        font-size: 22px;
        width: 1400px;
        margin: 120px auto;

        &--image {
            display: inline;
            width: 550px;
            height: 380px;
            border: 2px solid $content-text-color;
            padding: 2px;
            margin: 0px 28px;

            &--left {
                float: left;
            }

            &--right {
                float: right;
            }
        }

        &--header {
            font-size: 48px;
            letter-spacing: 12px;
            text-align: center;
            color: rgb(0, 0, 0);
            pointer-events: none;
            margin: 120px 0px;
            font-weight: bold;

            &__icon {
                font-size: 80px;
            }
        }

        &--text {
            text-align: justify;
            word-spacing: 3px;
            tab-size: 4;
            font-weight: 200;
            color: rgb(0, 0, 0);
            padding-top: 90px;

            &--icon {
                font-size: 14px;
                color: #3d8943;
                padding-right: 8px;
            }

            &--info {
                padding-top: 160px;
                padding-left: 28px;
            }

            &--adatoper {
                padding: 4px;
            }
        }

        &--title {
            margin: 80px 28px;
            font-size: 30px;
            letter-spacing: 4px;
            font-weight: bold;

            &--left {
                text-align: start;
            }

            &--right {
                text-align: end;
            }

            &--center {
                text-align: center;
            }
        }
    }
}
