@import 'App.scss';

.home {
    margin: 200px 0px;
    height: 400px;

    .overlay {
        position: fixed;
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        left: 190;
        right: 0;
        bottom: 0;
        z-index: -1;
        background-color: $overlay-background-color;
    }

    &__box {
        &__container {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            width: 100em;
            margin: auto;
        }
    }
}
