.sidebar {
    height: 100%;
    width: 10%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #0A2647;
    display: table-cell;
    vertical-align: top;
    border-right: 1px solid #E3F6FF;

    &__container {
        position: fixed;
        top: 65%;
        width: inherit;

        .sidebar__list {
            text-align: center;

            &__item {
                padding: 6px 8px 28px 16px;
                text-decoration: none;
                font-size: 18px;
                color: #dddddd;
                display: block;
                cursor: pointer;
        
                &:hover {
                    color: #f0ffff;
                    opacity: .7;
                }
            }
        }

        .sidebar__separator {
            height: 4px;
            width: 70%;
            margin: auto;
            background-color: #DFD3C3;
            border-radius: 2px;
            margin-top: 1em;
        }

        .sidebar__social-media {
            text-align: center;
            padding: 1em 0px;
            font-size: 14px;
            text-decoration: none;
            font-size: 18px;
            color: #dddddd;
            display: block;

            &--icon {
                cursor: pointer;
                padding: 0px 2px;

                &:hover {
                    color: #f0ffff;
                }
            }
        }
    }
}

.content {
    margin-left: 160px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}
