$sidebar-background-color: #579BB1;
$sidebar-text-color: #F8F4EA;
$sidebar-text-hover-color: #E1D7C6;

.sidebar {
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 1;
    top: 0;
    background-color: $sidebar-background-color;
    border-bottom: 1px solid $sidebar-text-color;
    border-width: thin;

    &__container {
        position: fixed;
        width: 100%;

        .sidebar__list {
            display: flex;
            justify-content: center;
            padding-top: 10px;

            &__item {
                padding: 6px 40px 12px 0px;
                text-decoration: none;
                font-size: 18px;
                color: $sidebar-text-color;
                display: flex;
                cursor: pointer;
                flex-direction: row;
                white-space: nowrap;
                justify-content: flex-start;
                align-items: center;

                &:hover {
                    color: $sidebar-text-hover-color;
                    opacity: .5;
                    transition: .5s;
                }

                &--icon {
                    font-size: 18px;
                }

                &--text {
                    padding-left: 8px;
                }
            }
        }

        .sidebar__separator {
            height: 2px;
            width: 70%;
            margin: auto;
            background-color: #375675;
            border-radius: 2px;
            margin-top: 1em;
        }

        .sidebar__social-media {
            text-align: center;
            padding: 1em 0px;
            text-decoration: none;
            font-size: 22px;
            color: black;
            display: block;

            &--icon {
                padding: 0px 2px;
                color: grey;

                &:hover {
                    opacity: 0.6;
                    cursor: pointer;
                }

                &--fb {
                    // color: #3b5998;
                }

                &--ig {
                    // color: #df578e;
                }

                &--tw {
                    // color: #00acee;
                }

                &--yt {
                    // color: #ff0000;
                }
            }
        }
    }
}

.content {
    margin-left: 160px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}