.sidebar {
    height: 100%;
    width: 10%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -115px;
    background-color: #e0f0ff;
    transition: 0.3s;
    display: table-cell;
    vertical-align: top;
    border-right: 1px solid #375675;
    border-width: thin;
    animation: pulse;
    animation-duration: 4s;
    animation-iteration-count: infinite;

    &:hover {
        left: 0;
    }

    &__container {
        position: fixed;
        top: 60%;
        width: inherit;

        .sidebar__list {
            padding-left: 1.5em;

            &__item {
                padding: 6px 28px 28px 20px;
                text-decoration: none;
                font-size: 18px;
                color: #375675;
                display: flex;
                cursor: pointer;
                flex-direction: row-reverse;
                white-space: nowrap;
                justify-content: flex-start;
                align-items: center;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                transition: 0.5s;

                &:hover {
                    color: #3a82fd;
                    text-decoration: underline;
                    opacity: 0.7;
                }

                &--icon {
                    font-size: 24px;
                }

                &--text {
                    padding-left: 8px;
                }
            }
        }

        .sidebar__separator {
            height: 4px;
            width: 70%;
            margin: auto;
            background-color: #375675;
            border-radius: 2px;
            margin-top: 1em;
        }

        .sidebar__social-media {
            text-align: center;
            padding: 1em 0px;
            text-decoration: none;
            font-size: 24px;
            color: black;
            display: block;

            &--icon {
                padding: 0px 2px;

                &:hover {
                    opacity: 0.6;
                    cursor: pointer;
                }

                &--fb {
                    color: #3b5998;
                }

                &--ig {
                    color: #df578e;
                }

                &--tw {
                    color: #00acee;
                }

                &--yt {
                    color: #ff0000;
                }
            }
        }
    }
}

.content {
    margin-left: 160px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

@keyframes pulse {
    0% {
        box-shadow: 1px 0px 8px 6px steelblue;
    }
    70% {
        box-shadow: 0px 0px 0px 0px steelblue;
    }
    100% {
        box-shadow: 1px 0px 8px 6px steelblue;
    }
}
