.box {
    background-color: #e0f0ff;
    width: 260px;
    height: 200px;
    padding: 4px;
    margin: 20px;
    transition: transform 0.3s;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    cursor: pointer;
    opacity: 0;
    animation: opacityAnimation;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-delay: 0.3s;
    animation-duration: 2s;

    &:hover {
        transform: scale(1.3);
        z-index: 999;
    }

    &__header {
        display: block;
        text-align: center;
        font-weight: 600;
    }

    &__content {
        display: block;
        font-size: 12px;
        padding: 24px;
    }

    &__icon {
        font-size: 32px;
        color: #375675;
    }

    &__title {
        font-size: 14px;
    }

    @keyframes opacityAnimation {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
}
