$box-text-color: #579bb1;
$box-background-color: #e1d7c6;
$box-title-color: #478194;

.box {
    background-color: $box-background-color;
    color: $box-text-color;
    transform: skew(-10deg);
    margin: 20px;
    transition: transform 0.3s;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: default;

    &:hover {
        transform: scale(1.4);
        z-index: 1;
        transition: 0.5s;
    }

    &__header {
        padding: 20px;
        display: block;
        font-weight: 600;
    }

    &__content {
        display: block;
        font-size: 12px;
        padding: 18px;

        &--read-more {
            font-weight: bold;
            padding: 8px;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__icon {
        font-size: 32px;
        color: $box-title-color;
    }

    &__title {
        font-size: 14px;
        color: $box-title-color;
    }
}
